body{
    margin:40px;
}

.wrapper{
    display:grid;
    grid-template-rows:300px 300px;
    grid-gap:10px;
    background-color:#fff
    color:#444;
}

.box {
    
    
    background-color:black;
    color:red;
    border-radius:5px;
    padding:20px;
    font-size:150%
    width:50px;
    height:60px;
    }
h1 {
    color:grey;
    font:"Times New Roman";.
    position:center;
}

.a {
    grid-column:2/3;
    grid-row:1/2;
}

.box:nth-child(all) {
  background-color: #ccc;
  color: #000;
}
a {
    text-decoration:none;
    font-size:10px;
    color:white;
}
body{
    background-image:url("https://wallpaperscraft.com/image/dark_spots_texture_background_50355_1920x1080.jpg");
}
