.box {
    
    display:grid;
    background-color:black;
    color:red;
    border-radius:5px;
    padding:20px;
    font-size:150%
    }
h1 {
    color:grey;
    font:"Times New Roman";.
    position:center;
}
